* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.header{
    display: flex;
    background-color: rgb(50, 167, 145);
    justify-content: space-between;
    padding: 1%;
    align-items: center;
}

.header img {
    width: 4%;
}

.trybewarts-login {
    display: flex;

}

#label-family {
    display: flex;
    flex-direction: column;
}

#label-content  {
    display: flex;
    flex-direction: column;
}
 /* Formulario  */
main {
    display: flex;
    justify-content: center;
    
}

#evaluation-form{
    display: flex;
    width: 675px;
    justify-content: center;
    
}
    
